/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2017, 7:23:37 PM
    Author     : Janine
*/

body{
    background-color: #6D6D6D !important;
}

.underConstruction{
    font-family: Menlo;
}

#constructionChar{
    display:block;
    margin: auto;
}

.h1_construction{
    color: #F4A72C;
} 

.h3_construction{
    color: #FFF;
}

.p_construction{
    color: #919191;
}

#backBtn{
    background-color: #919191;
    border-color: #6D6D6D;
}
    #backTxt{
        font-size: 150%;
        color:#1F75FE;
    }
    #backTxt:hover{
        text-decoration: none;
        color: #FFF;
    }
    

/*MEDIA QUERIES*/
@media only screen and (min-width:1080px){/* styles for browsers larger than 1080px; */
    .h1_construction{
        font-size: 360%;
    } 
    
    .h3_construction{
        font-size: 250%;
    }
    
    .p_construction{
        font-size: 150%;
    }
    
    #backBtn{
        margin-top: 0.5%;
    }
}
    
@media only screen and (min-width: 1260px){/* styles for browsers larger than 1260px; */
    .h1_construction{
        font-size: 400%;
    } 
    
    .h3_construction{
        font-size: 285%;
    }
    
    .p_construction{
        font-size: 150%;
    }
    
    #backBtn{
        margin-top: 0.5%;
    }
}

@media only screen and (min-width:1400px){/* styles for browsers larger than 1440px; */  
    .h1_construction{
        font-size: 400%;
    } 
    
    .h3_construction{
        font-size: 300%;
    }
    
    .p_construction{
        font-size: 150%;
    }
    
    #backBtn{
        margin-top: 0.5%;
    }

}
    
@media only screen and (max-device-width:480px){/* styles for mobile browsers smaller than 480px; (iPhone) */
     #backTxt{
        font-size: 150%;
    }
}
    
@media only screen and (device-width:768px){/* default iPad screens */
    .h1_construction{
        font-size: 360%;
    } 
    
    .h3_construction{
        font-size: 250%;
    }
    
    .p_construction{
        font-size: 140%;
    }
    
    #backBtn{
        margin-top: 0.5%;
    }

}