/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2017, 10:31:33 PM
    Author     : Janine
*/

#projectsStart{
    font-family: Menlo;
}

.proj_name{
    color:#00A4A7;
}

.readBtn{
    background-color: transparent !important;
    color: #F4A72C;
    padding: 0px !important;
}

.hidden-content{
    display:none;
}

.proj_Link{
    color: #1F75FE;
}
    .proj_Link:hover{
        
    }

/*MEDIA QUERIES*/
@media only screen and (min-width:1080px){/* styles for browsers larger than 1080px; */
    /*margins*/
    #proj_head{
        margin-bottom: 3%;
    }
    
    #travelCanada, #personalWebsite, #uniCook{
        margin-top: 3%;
    }
    
    /*fonts*/
    .h_large{
        font-size: 450%;
    }
    
    .h_small, .proj_Link{
        font-size: 125%;
    }
    
    .proj_name{
        font-size: 145%;
    }
    
    .general_text{
        font-size: 110%;
    }
    
        /*button*/
        .glyphicon-menu-hamburger{
            font-size: 180%;
        }
        .readBtn{ 
            font-size: 120% !important;
        }
}
    
@media only screen and (min-width: 1260px){/* styles for browsers larger than 1260px; */
    /*margins*/
    #proj_head{
        margin-bottom: 3%;
    }
    
    #travelCanada, #personalWebsite, #uniCook{
        margin-top: 2%;
    }
    
    /*fonts*/
    .h_large{
        font-size: 450%;
    }
    
    .h_small, .proj_Link{
        font-size: 125%;
    }
    
    .proj_name{
        font-size: 145%;
    }
    
    .general_text{
        font-size: 110%;
    }
    
        /*button*/
        .glyphicon-menu-hamburger{
            font-size: 180%;
        }
        .readBtn{ 
            font-size: 120% !important;
        }
}

@media only screen and (min-width:1400px){/* styles for browsers larger than 1440px; */     
    /*margins*/
    #proj_head{
        margin-bottom: 3%;
    }
    
    #travelCanada, #personalWebsite, #uniCook{
        margin-top: 2%;
    }
    
    /*fonts*/
    .h_large{
        font-size: 500%;
    }
    
    .h_small, .proj_Link{
        font-size: 130%;
    }
    
    .proj_name{
        font-size: 160%;
    }
    
    .general_text{
        font-size: 110%;
    }
    
        /*buttons and links*/
        .glyphicon-menu-hamburger{
            font-size: 180%;
        }
        .readBtn{ 
            font-size: 120% !important;
        }
}
    
@media only screen and (min-width:2000px){/* for sumo sized (mac) screens */    
}
    
@media only screen and (max-device-width:480px){/* styles for mobile browsers smaller than 480px; (iPhone) */
    /*margins*/
    .proj_media{
        display: block;
        margin: auto
    }
    
    #travelCanada, #personalWebsite, #uniCook{
        margin-top: 5%;
    }
    
    /*fonts*/
    .h_large{
        font-size: 320%;
    }
    
    .h_medium{
        font-size: 120%;
    }
    
    .h_small, .proj_Link{
        font-size: 115%;
    }
    
    .proj_name{
        font-size: 135%;
        text-align: center;
    }
    
        /*button*/
        .glyphicon-menu-hamburger, .readBtn{
            font-size: 110% !important;
        }
}
    
@media only screen and (device-width:768px){/* default iPad screens */
    /*margins*/
    #proj_head{
        margin-bottom: 3%;
    }
    
    #travelCanada, #personalWebsite, #uniCook{
        margin-top: 2%;
    }
    
    /*fonts*/
    .h_large{
        font-size: 450%;
    }
    
    .h_small, .proj_Link{
        font-size: 125%;
    }
    
    .proj_name{
        font-size: 145%;
    }
    
    .general_text{
        font-size: 110%;
    }
    
        /*button*/
        .glyphicon-menu-hamburger{
            font-size: 150%;
        }
        .readBtn{ 
            font-size: 120% !important;
        }
}